<app-top-bar></app-top-bar>
<mat-card fxLayoutAlign="center center">
    <mat-card-content fxLayoutAlign="center stretch">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-icon class="login-icon">directions_bike</mat-icon>
            <h3>Login</h3>
            <mat-error *ngIf="loginInvalid">
                The username and password were not recognized
            </mat-error>
            <mat-form-field class="full-width-input" appearance="outline">
                <input matInput placeholder="Email" formControlName="username" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline">
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-icon matSuffix>password</mat-icon>
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>
            <div fxLayoutAlign="end">
                <a routerLink="/forgot" class="forgot-password">Forgot Password?</a>
            </div><br />
            <button color="primary" type="submit" mat-raised-button>LOGIN</button>
            <div class="mg-item">
                or sign up with:
            </div>
            <div class="mg-item">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
            <div class="mg-item">
                Don't have an account? <a routerLink="/register">Create an account</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>