mat-card {
    max-width: 400px;
    height: 550px;
    margin: -100px auto;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

mat-icon {
    transform: scale(4);
    margin-bottom: 40px;
}

button {
    border-radius: 5px;
    max-height: 8vh;
    width: 200px;
}

.mg-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa {
    width: 15px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
}

.fa-twitter {
    background: #55acee;
}

.fa-google {
    background: #dd4b39;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.forgot-password {
    font-size: 11px;
}